h1{
    color: blueviolet;
}

.box {
     width: 50px;
     height: 50px;
     background-color: aqua;
}
@media screen and (max-width: 1000px) {
    h1{
        color:green;
    }
}

@media screen and (max-width: 500px) {
    .box{
       display: none;
    }
}
/* tablet */
@media screen and (max-width: 480px) {
    .box{
       display: none;
    }
}

@media screen and (min-width: 481px) and
   (max-width:768px){
    .box{
        display: none;
    }
   }
   /* laptop */
@media screen and (min-width: 769px) and
   (max-width:1279px){
    .box {
        display: none;
    }
   }

@media screen and (min-width: 1200px) {
    body{
        background-color: brown;
    }
}